<% layout("/common/layout.html"){ %>
	 <div class="col-md-7" style="border: 2px solid #eee;">
	 	<form action="${base}/user/update" method="post" enctype="multipart/form-data">
	 		<input type="hidden" name="user.id" value="${user.id!}">
	 		<input type="hidden" name="user.registDate" value="${user.registDate!}">
			<div class="form-group">
				<label for="inputEmail" class="col-sm-2 control-label" style="margin-top:10px;">邮箱</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="email" name="user.email" class="form-control" id="inputEmail" placeholder="请输入邮箱" value=${user.email!}>
					<p class="text-danger">${emailMsg!}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label" style="margin-top:10px;">昵称</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="text" name="user.username" class="form-control" id="inputName" placeholder="请输入昵称" value=${user.username!}>
					<p class="text-danger">${usernameMsg!}</p>
				</div>
				
			</div>
			<div class="form-group">
				<label for="inputBlogURL" class="col-sm-2 control-label" style="margin-top:10px;">博客</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="text" name="user.blogUrl" class="form-control" id="inputBlogURL" placeholder="请输入博客地址" value="${user.blogUrl!}">
					<p class="text-danger">${blogUrlMsg!}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputUserFeeling" class="col-sm-2 control-label" style="margin-top:10px;">签名</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="text" name="user.feeling" class="form-control" id="inputUserFeeling" placeholder="请输入签名" value="${user.feeling!}">
					<p class="text-danger">${repasswordMsg!}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputImg" class="col-sm-2 control-label" style="margin-top:10px;">上传头像</label>
				<div class="col-xs-6 fleft" style="margin-top:10px;" id="localImag"> 
					<img id="preview" class="img-circle" width="110px" height="110px" src="${user.headImg!}">
					<input type="file" name="user.headImg" id="inputImg" value="${user.headImg!}" style="margin-top:10px;" onchange="javascript:setImagePreview();">
					<p class="text-danger">${headImgMsg!}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10" style="margin:10px 20px 10px 30px;">
					<button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
				</div>
			</div>
		</form>
	 </div>
	<script type="text/javascript">
		//用于图片上传预览功能
		function setImagePreview(avalue) {
			var docObj = document.getElementById("inputImg");
	
			var imgObjPreview = document.getElementById("preview");
			if (docObj.files && docObj.files[0]) {
				//火狐下，直接设img属性
				imgObjPreview.style.display = 'block';
				imgObjPreview.style.width = '120px';
				imgObjPreview.style.height = '120px';
				//imgObjPreview.src = docObj.files[0].getAsDataURL();
	
				//火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
				imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
			} else {
				//IE下，使用滤镜
				docObj.select();
				var imgSrc = document.selection.createRange().text;
				var localImagId = document.getElementById("localImag");
				//必须设置初始大小
				localImagId.style.width = "120px";
				localImagId.style.height = "120px";
				//图片异常的捕捉，防止用户修改后缀来伪造图片
				try {
					localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
					localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
				} catch (e) {
					alert("您上传的图片格式不正确，请重新选择!");
					return false;
				}
				imgObjPreview.style.display = 'none';
				document.selection.empty();
			}
			return true;
		}
	</script>
<% } %>