<% layout("/common/layout.html"){ %>
	<div class="col-md-6 col-md-offset-3">
		<form action="${base}/user/login" method="post" class="form-signin">
    		<p class="text-info">还没帐号？点击&nbsp;<a href="${base}/regist"><kbd>注册</kbd></a></p>
			<p class="bg-danger">${msg!}</p>
			<input id="inputEmail" name="email" class="form-control" type="email" autofocus="" required="" placeholder="Email address"></input>
			<input id="inputPassword" name="password" class="form-control" type="password" required="" placeholder="Password"></input>
			<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="return md5Pwd(this)">登录</button>
			
		</form>
	</div>
    <script type="text/javascript">
		function md5Pwd(f){
	   		var passwordInput = $(f).closest("form").find("input[name='password']");
	   		var pwdVal = passwordInput.val();
	   		passwordInput.val(md5(pwdVal));
		    return true;
		}
	</script>
<% } %>

			
