<% layout("/common/layout.html"){ %>
	<div class="col-md-6 col-md-offset-3">
		<form action="${base}/user/save" method="post">
			<div class="form-group">
				<label for="inputEmail" class="col-sm-2 control-label" style="margin-top:10px;">邮箱</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="email" name="user.email" class="form-control" id="inputEmail" placeholder="请输入邮箱" value=${user.email!}>
					<p class="text-danger">${emailMsg!}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label" style="margin-top:10px;">昵称</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="text" name="user.username" class="form-control" id="inputName" placeholder="请输入昵称" value=${user.username!}>
					<p class="text-danger">${usernameMsg!}</p>
				</div>
				
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-sm-2 control-label" style="margin-top:10px;">密码</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="password" name="user.password" class="form-control" id="inputPassword" placeholder="请输入密码">
					<p class="text-danger">${passwordMsg!}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputRepassword" class="col-sm-2 control-label" style="margin-top:10px;">确认密码</label>
				<div class="col-sm-10" style="margin-top:10px;">
					<input type="password" name="repassword" class="form-control" id="inputRepassword" placeholder="请再次输入密码">
					<p class="text-danger">${repasswordMsg!}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputCheckCode" class="col-sm-2 control-label" style="margin-top:10px;">验证码</label>
				<div class="col-xs-6 fleft" style="margin-top:10px;width:170px">
					<input type="text" name="randomCode" class="form-control" id="inputCheckCode" placeholder="请输入验证码">
					<p class="text-danger">${codeMsg!}</p>
				</div>
				<div class="col-xs-6 fleft" style="margin-top:10px;">
					<img alt="点击刷新验证码" src="${base}/common/code" onclick="this.src='${base}/common/code?' + new Date().getTime();"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10" style="margin-top:10px;">
					<button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
				</div>
			</div>
			
		</form>
	</div>	
<% } %>