<% layout("/common/layout.html"){ %>
    <div class="col-md-7" style="border: 2px solid #eee;">
    	<p style="margin:10px auto 5px 150px;">
            <span>欢迎<mark>${user.username!}</mark>,您是本社区的第<mark>${user.id!}</mark>位注册员会</span>
        </p>
    	<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">会员名称</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">${user.username!}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">博客</label>
		    <div class="col-sm-10">
		      <p class="form-control-static"><a href="${user.blogUrl!}">${user.blogUrl!}</a></p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">注册时间</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">${user.registDate!}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">签名</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">${user.feeling!}</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">头像</label>
		    <div class="col-sm-10">
		      <p class="form-control-static"><img class="img-circle" width="110px" height="110px" src="${user.headImg!}" alt="${user.username!}"></p>
		    </div>
		  </div>
		</form>
    
        <% if(user.id! == session.user.id!){ %>
           <a style="margin:10px auto 5px 100px;" href="${base}/user/edit/${user.id!}" class="btn btn-danger">编辑资料</a>
       	<% } %>
        <hr>
    </div>
<% } %>