<link rel="stylesheet" href="/ext/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="/ext/kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="/ext/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/ext/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="/ext/kindeditor/plugins/code/prettify.js"></script>
<script>
	KindEditor.ready(function(K) {
		var editor1 = K.create('textarea[class="kind_content"]', {
			cssPath : '/ext/kindeditor/plugins/code/prettify.css',
			resizeType : 1,
			allowFileManager : false,
			allowImageUpload : false,
			items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
            langType : 'zh_CN',
            height : 300,
            width : 400,
			afterCreate : function() {
				var self = this;
				K.ctrl(document, 13, function() {
					self.sync();
					document.forms['example'].submit();
				});
				K.ctrl(self.edit.doc, 13, function() {
					self.sync();
					document.forms['example'].submit();
				});
			}
		});
		prettyPrint();
	});
</script>
<textarea class="kind_content" name="post.content">${post.content!}</textarea>