<hr/>
<div class="footer" style="margin: 13px auto; width: 940px;">
    <p style="display: block; text-align: center;">
    	 鄂ICP备88888888号-1&nbsp;&nbsp;|&nbsp;&nbsp;鄂ICP备88888888号 &nbsp;&nbsp;©&nbsp;&nbsp;2015 SUE-BBS.com&nbsp;&nbsp;|&nbsp;&nbsp;我自己 版权所有
    </p>
</div>