<div>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container container-fluid">
	    <div class="collapse navbar-collapse" id="-nav-bar">
	    	<ul class="nav navbar-nav">
		      <li>
		      	<a href="/">首页</a>
		      </li>
		      <li>
		          <a href="${base}/topic/hot">浏览最多</a>
		      </li>
		      <li>
		          <a href="${base}/topic/nice">精华帖子</a>
		      </li>
		      <li>
		          <a href="${base}/topic/add">发表新话题</a>
		      </li>
		      <li>
		          <a href="${base}/leaveMsg" title="欢迎提出建议">留言</a>
		      </li>
		  	</ul>
		  	
		  	<ul class="nav navbar-nav navbar-right">
		  	<% if(session.user! == null){ %>
		        <li>
		        	<a href="${base}/login">登录</a>
		        </li>
		        <li>
		        	<a href="${base}/regist">注册</a>
		        </li>
	        <% }else{ %>
	        	<li>
		        	<a href="${base}/user/${session.user.id}" target="_blank">欢迎：${session.user.username}</a>
		        </li>
		        <li>
		        	<a href="${base}/user/logout">退出</a>
		        </li>
	        <% } %>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>
