<% layout("/common/layout.html"){ %>
	<div class="col-md-7" style="border: 2px solid #eee;">
		<% for(topic in topicPage.list!){ %>
        <div class="media" href="${base}/topic/${topic.id}" style="border: 3px solid #eee;margin:5px 5px 5px 5px;">
            <div class="media-left">
                <a href="${base}/user/${topic.userID!}" title="${topic.user.username!}" target="_blank">
                    <img class="img-circle" width="80px" height="80px" src="${topic.user.headImg!}">
                </a>
            </div>
            <div class="media-body">
                <div>
                    <a style="color:#0099CC; font-size:20px;" href="${base}/topic/${topic.id}" title="${topic.content}" target="_blank">${topic.content}</a>
                </div>
                <div style="margin:20px 0px 0px 0px;"">
                    <span><a href="${base}/topic/module/${topic.module.id}" class="btn btn-success btn-xs" target="_blank" title="话题分类">${topic.module.name}</a></span>
                    <span style="border: 10px solid #Ffffff;"><a href="${base}/user/${topic.userID!}" target="_blank" title="作者">${topic.user.username!}</a></span>
                    <span style="border: 10px solid #Ffffff;">${printTime(topic.createTime)}</span>
                </div>
            </div>
            <div class="media-right">
                <p title="浏览次数"><span class="badge">${topic.pv}</span></p>
                <p title="帖子个数"><span class="badge1">${topic.postCount}</span></p>
            </div>
        </div>
    	<% } %>
		<% include("/common/paginate.html" ,{"currentPage":topicPage.pageNumber,"totalPage":topicPage.totalPage,"actionUrl":actionUrl!}){} %>
	</div>
	<% include("/common/model.html"){} %>
<% } %>