<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>${topic.content!'welcome to'}-->Sue-BBS</title>
		<meta name="Keywords" content="bbs, jfinal, beelt ,bootstrap, echache">
		<meta name="Description" content="个人练习">
		<link rel="stylesheet" href="${base}/ext/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="${base}/ext/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="${base}/css/common.css"/>
		
		<script src="${base}/ext/jquery1.10.js" type="text/javascript"></script>
		<script src="${base}/ext/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="${base}/ext/ext-all.js" type="text/javascript"></script>
	</head>
	<body>
	    <% include("/common/header.html"){} %>
	    <div class="container clearfix">
	    	<div class="row">
	        	${layoutContent}
	        </div>
	    </div>
	    <% include("/common/footer.html"){} %>
	</body>
</html>