<div class="col-md-3 col-md-offset-1" style="border: 2px solid #eee;">
    <div>
        <h4 class="text-center muted">话题分类：</h4>
        <% for(module in moduleList!){ %>
            <span style="float:left; padding:5px 20px;">
                <a href="${base}/topic/module/${module.id}" class="btn btn-success">${module.name}</a>
            </span>
        <% } %>
    </div>
</div>