<% 	if (totalPage <= 0 || currentPage > totalPage) return;
 	var startPage = currentPage - 4;
 	if(startPage < 1){
 		startPage = 1;
 	}
 	var endPage = currentPage + 4;
 	if(endPage > totalPage){
 		endPage = totalPage;
 	} %>

	<div>
        <ul class="pagination">
		<% 	if(currentPage <= 8){
         	    startPage = 1;
         	}
         	if(totalPage - currentPage<8){
         		endPage = totalPage;
         	}
         	if(currentPage == 1){ %>
        	    <li><a class="btn btn-default disabled">上页</a></li>
        <%	}else{ %>
			    <li><a href="${base}${actionUrl}${currentPage - 1}">上页</a></li>
		<%	} %>

        <%	if(currentPage > 8){ %>
                <li><a href="${base}${actionUrl}1">1</a></li>
                <li><a href="${base}${actionUrl}2">2</a></li>
				<li><span>...</span></li>
        <%	} %>

        <% 	var index = startPage;
         	while(index <= endPage){
             	if(currentPage == index){ %>
                <li class="active"><span>${index}</span></li>
            <% 	}else{ %>
                <li><a href="${base}${actionUrl}${index}">${index}</a></li>
            <% 	} %>
        <% 	index= index+1;
         	} %>

        <%	if((totalPage - currentPage) >= 8){ %>
				<li><span>…</span></li>
				<li><a href="${base}${actionUrl}${totalPage - 1}">${totalPage - 1}</a></li>
				<li><a href="${base}${actionUrl}${totalPage}">${totalPage}</a></li>
        <%	} %>

        <%	if(currentPage == totalPage){ %>
				<li><a class="btn btn-default disabled">下页</a></li>
        <%	}else{ %>
				<li><a href="${base}${actionUrl}${currentPage + 1}" rel="next">下页</a></li>
        <%	} %>
        </ul>
	</div>
