<% for(reply in replyPage.list!){ %>
<div class="-reply">
    <p class="-reply-info">
        <i class="icon-user"></i>
        <span>
            <a href="${base}/user/${reply.userID!'0'}" target="_blank">${reply.user.username!}</a>
        </span>
        <i class="icon-time"></i><span>${printTime(reply.createTime)}</span>
        <i class="icon-hand-left"></i>
        <% if(session.user != null){%>
            <span><a href="javascript:;" data="${reply.user.username!}" onclick="replyThisUser(this)">回复</a></span>
        <% }%>
    </p>
    <p class="-reply-content">${reply.content}</p>
</div>
<div class="-reply-user-form" data="0"></div>
<% } %>
<p class="-reply-paginate">
    <% if(replyPage.pageNumber > 1){ %>
    	<a data="${base}/reply/${postID}-${ replyPage.pageNumber! - 1 }" href="javascript:;" class="btn btn-mini btn-success" onclick="replyPaginate(this)">上一页</a>
    <% } %>
    <% if(replyPage.pageNumber < replyPage.totalPage){ %>
    	<a data="${base}/reply/${postID}-${ replyPage.pageNumber! + 1 }" href="javascript:;" class="btn btn-mini btn-success" onclick="replyPaginate(this)">下一页</a>
    <% } %>
    <% if(replyPage.totalPage!'0' > 0){ %>
        <span>&nbsp;&nbsp;共${replyPage.totalPage!}页</span>
    <% }else{ %>
        <span style="margin-left:-200px;">还没有评论，快来抢沙发</span>
    <% } %>
</p>
<script>
    function replyPaginate(f){
	    $.post(
	        $(f).attr("data"),
	        function(data){
	            $(f).closest(".-reply-list").html(data).hide().fadeIn(2000);
	        },
	        "html"
    	);
	}
	function replyThisUser(f){
		var footer = $(f).closest(".-post-foot").find("textarea").focus().val("回复 @" + $(f).attr("data") + " ");
	}
</script>