<% layout("/common/layout.html"){ %>
	<div class="col-md-6">
		<form action="${base}/topic/save" method="post">
			<% include("/topic/form.html"){} %>
        	<% include("/post/form.html"){} %>
			<hr>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10" style="margin-top:10px;">
					<button class="btn btn-lg btn-primary btn-block" type="submit">发表</button>
				</div>
			</div>
		</form>
	</div>
<% } %>