<div class="form-group">
	<label for="inputContent" class="col-sm-2 control-label" style="margin-top:10px;">标题</label>
	<div class="col-sm-10" style="margin-top:10px;">
		<input type="text" name="topic.content" class="form-control" id="inputContent" placeholder="请输入标题" value=${topic.content!}>
		<p class="text-danger">${contentMsg!}</p>
	</div>
</div>
<div class="form-group">
	<label for="inputType" class="col-sm-2 control-label" style="margin-top:10px;">类别</label>
	<div class="col-sm-10" style="margin-top:10px;">
		<select class="form-control" name="topic.moduleID">
	       <% for(module in moduleList!){ %>
	           <option value="${module.id}" ${selectFunction(module.id!, topic.moduleID!, "selected='selected'")}>
	               ${module.name!}
	           </option>
	       <% } %>
	   	</select>
	</div>
	
</div>
