body {
  padding-top: 70px;
}

body .navbar-fixed-top{
  min-width: 1100px;
}

.container {
    width: 1100px;
    max-width: none !important;
}

/* 登陆框样式 */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0px auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin:30px 0px 30px 0px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #B94A48;
    border-radius: 10px;
    margin-top:10px;
}

.badge1 {
	display: inline-block;
    min-width: 10px;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #F89406;
    border-radius: 10px;
    margin-top:10px;
}

/* 回复/评论样式 */
.-post-header{margin-left: -108px; margin-top: 15px; width: 80px; color: #fff; text-align: right; margin-bottom: 0; overflow: hidden; }
.-post-header-top{ background: url(../img/bg_postdate.png) no-repeat; height: 48px; margin-bottom: 10px; }
.-post-header-bottom{ width:50px; height: 50px; overflow: hidden; margin-left: 30px;}
.-post-header-date{ font-size: 12px; margin-top: 10px; display: block; }
.-post-main{ padding: 15px 36px; margin-top: -130px; }
.-post-content p{ text-indent: 2em; line-height: 1.8em; font-size: 16px; }
.-reply-submit{ margin-left: 5px; margin-top: 5px;}
.-post-footer{ background: #f7f7f7;}
.-reply-info i{ margin-right: 10px; }
.-reply-info span{ margin-right: 30px; }
.-reply-form{ margin-left: 8px; }
.-reply-content{ text-indent: 2em; border-bottom: 1px solid rgb(133, 197, 230); }
.-reply-paginate{ margin-left: 400px; }