<div class="form-group">
	<label for="inputText" class="col-sm-2 control-label" style="margin-top:10px;">内容</label>
	<div class="col-sm-10" style="margin-top:10px;">
		<% include("/common/editer.html", {"textarea_content" : post.content!}){} %>
	</div>
</div>