<% layout("/common/layout.html"){ %>
	<div class="col-md-7">
		<div>
            <h4>
                <span class="label label-default">话题：</span>&nbsp;&nbsp;<a href="${base}/topic/${topic.id!}">${topic.content!}</a>
            </h4>
        </div>
        <% for(post in postPage.list!){ %>
        <div class="well well-lg">
			<div class="-post-header">
			    <div class="-post-header-top">
			        <span>${ ((postPage.pageNumber - 1) * postPage.pageSize) + postLP.index} 楼 </span><br>
			        <span class="-post-header-date">${printTime(post.createTime)}</span>
			    </div>
			    <div class="-post-header-bottom">
			        <a href="${base}/user/${post.userID!}" title="${post.user.username!}" target="_blank">
			            <img class="img-circle" width="50px" height="50px" src="${post.user.headImg!}">
			        </a>
			    </div>
			</div>
			<div class="-post-main">
                <div class="-post-content">${post.content}</div>
            </div>
            
            <div class="-post-foot">
                <div class="-post-footer -reply-list well well-lg">
                    <% if(post.replyPage != null){
                         include("/reply/reply.html", {"replyPage":post.replyPage, "postID":post.id}){}
                     }%>
                </div>
                <div class="-reply-form">
                    <form action="${base}/" method="post">
                        <input type="hidden" name="reply.postID" value="${post.id!}"/>
                        <input type="hidden" name="reply.topicID" value="${topic.id!}"/>
                        <textarea name="reply.content" cols="70" rows="3"></textarea>
                        <br/>
                        <input type="submit" value="回复" class="btn btn-danger -reply-submit" data="${base}/reply/save" onclick="return saveReply(this)">
                        <span class="muted">&nbsp;&nbsp;&nbsp;大神不要写太多</span>
                    </form>
                </div>
            </div>
        </div>
        <script>
		    function saveReply(f){
			    $.post(
			        $(f).attr("data"),
			        $(f).parent().serialize(),
			        function(data){
			            if(data == "error"){
			                alert("评论不能为空");
			            }else{
			                var footer = $(f).closest(".-post-foot");
			                footer.children(".-reply-list").html(data).hide().fadeIn("normal");
			                footer.find("textarea").val("");
			            }
			        },
			        "html"
			    );
			    return false;
			}
		</script>
        <% } %>
        <div>
             <% include("/common/paginate.html", {"currentPage":postPage.pageNumber,"totalPage":postPage.totalPage,"actionUrl":"/post/" + topic.id! + "-"}) {}%>
            <div>
                <form action="${base}/post/save" method="post">
                    <p>回复内容：</p>
                     <% include("/common/editer.html"){}%>
                    <input type="hidden" name="post.topicID" value="${topic.id!}"/>
                    <br>
                    <input type="submit" class="btn btn-info" value="回复">
                     <% if(session.user == null){%>
                        <span><a href="${base}/user/login">登录</a>之后才可以回复消息</span>
                     <%}%>
                </form>
            </div>
        </div>
    </div>
	<% include("/common/model.html"){} 
 } %>